﻿@model IEnumerable<DistanceLearning.Models.Test>

@{
    ViewData["Title"] = "Index";
}

@{
    if (User.IsInRole("admin"))
    {
        <h1>Test List</h1>
    }
    else
    {
        <h1>Tests of the subject "@ViewData["Subject"]"</h1>
    }
}


@{
    if (User.IsInRole("admin") || User.IsInRole("teacher"))
    {
        <p>
            <a asp-action="Create">Create New Test</a>
        </p>}
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        if (User.IsInRole("admin") || User.IsInRole("teacher"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-controller="TestQuestions" asp-action="Index" asp-route-id="@item.Id">Show questions</a>
                            <a asp-action="ShowStudentResults" asp-route-id="@item.Id">Show Student Results</a>
                        }
                        if (User.IsInRole("student"))
                        {
                            if (item.completeForUser == true)
                            {
                <p>Test Complete</p>
                            }
                            else
                            {
                                <a asp-action="TakeTest" asp-route-id="@item.Id">Take the Test</a>
                            }
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    if (!User.IsInRole("admin"))
    {
        <div>
            <a asp-action="Index" asp-controller="Subjects">Back to Subjects List</a>
        </div>
    }
}
