﻿
@model IEnumerable<DistanceLearning.Models.TestStudentResultTable>

@{
    ViewData["Title"] = "Student Results";
}

<h1>Student Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Student
            </th>
            <th>
                Results
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @item.Score / @ViewData["TotalScore"]
                </td>
            </tr>
        }
    </tbody>
</table>
