﻿@model TestAnswerForm 


@{
    ViewData["Title"] = "takeTest";
}

<h1>Test</h1>

<h4>@ViewData["QuestionDescription"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="takeTest">
            <input type="hidden" name="Question" value="@Model.Question" />
            <span asp-validation-for="Response" class="text-danger"></span>
            @foreach (var answer in Model.Answers)
            {
                //<input type="radio" asp-for="Response" value="@answer.TestAnswerVariantId" />@answer.Description<br />
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" asp-for="Response" id="Variant_@answer.TestAnswerVariantId" value="@answer.TestAnswerVariantId">
                    <label class="custom-control-label" for="Variant_@answer.TestAnswerVariantId">@answer.Description</label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Subjects" asp-action="Index" asp-route-id="@ViewData["SubjectId"]">Back to Test List</a>
</div>

