﻿
@{
    ViewData["Title"] = "Test Results";
}

<h1>Test Results</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Scores"] / @ViewData["TotalScore"]</h3>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

