﻿@model DistanceLearning.Models.TestAnswerVariant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestAnswerVariant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input name="TestQuestionId" type="hidden" id="TestQuestionId" data-val="true" value="@ViewBag.TestQuestionId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

