﻿@model IEnumerable<DistanceLearning.Models.TestAnswerVariant>

@{
    ViewData["Title"] = "Test Question Variant List";
}

    <h1>Test Question Variant List. Test: @ViewData["TestName"]. Question: @ViewData["QuestionName"]</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.TestQuestionId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Test Question
            </th>
            <th>
                True Answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                №@Html.DisplayFor(modelItem => item.TestQuestion.TestQuestionId)
            </td>
            <td>
                @{ 
                    if(item.TestQuestion != null && item.TestQuestion.TrueAnswerId == item.TestAnswerVariantId)
                    {
                        <p>Yes</p>
                    } else
                    {
                        <p>No</p>
                    }

                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestAnswerVariantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestAnswerVariantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestAnswerVariantId">Delete</a> |
                <a asp-action="MarkTrue" asp-route-id="@item.TestAnswerVariantId">Mark as true</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@ViewData["TestQuestionId"]">Back to Questions List</a>
</div>