﻿@model IEnumerable<DistanceLearning.Models.Subject>

@{
    ViewData["Title"] = "Subject List";
}

<h1>Subject List</h1>

@{ 
    if (User.IsInRole("admin"))
    {
<p>
    <a asp-action="Create">Create New Subject</a>
</p>
        }
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Tests" asp-route-id="@item.Id">Go To Tests</a>
                    }
                }


            </td>
        </tr>
}
    </tbody>
</table>
