﻿@model IEnumerable<DistanceLearning.Models.TestQuestion>

@{
    ViewData["Title"] = "Index";
}


<h1>Question List of Test "@ViewData["TestName"]"</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Create New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                True Answer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrueAnswerScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.Name)
                </td>
                <td>
                    @{
                        if (item.TrueAnswerId != 0 && item.TrueAnswerId != null)
                        {
                            <p>Правильный ответ отмечен</p>
                        }
                        else
                        {
                            <p>Правильный ответ не выбран</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrueAnswerScore)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TestQuestionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TestQuestionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestQuestionId">Delete</a> |
                    <a asp-action="Index" asp-controller="TestAnswerVariants" asp-route-id="@item.TestQuestionId">Show Variants</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    if (User.IsInRole("admin"))
    {
        <div>
            <a asp-action="Managment" asp-controller="Tests">Back to Test List</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index" asp-controller="Tests" asp-route-id="@ViewBag.TestId">Back to Test List</a>
        </div>

    }
}


